@model IEnumerable<GroupaBull.Models.Major>

@{
    ViewBag.Title = "Courses";
}

<div class="white-background">
    <h2>Courses</h2>

    <p>
        <strong>Don't see your class or major? Add it @Html.ActionLink("here", "Index", "NewCourse", null, null)</strong>
    </p>
    <div id="accordion">
        @foreach (var item in Model)
        {
            <h3 class="accordion-header">
                @Html.DisplayFor(modelItem => item.MajorName)
            </h3>
            <div>
                @foreach (var course in item.CourseList)
                {
                    <div class="accordion-item" onclick="JoinGroup('@course.CourseId')">
                        @Html.DisplayFor(modelItem => course.Title) -
                        @Html.DisplayFor(modelItem => course.CourseSubject) @Html.DisplayFor(modelItem => course.CRN) -
                        Sect. @Html.DisplayFor(modelItem => course.SectionNumber) | 
                        @Html.DisplayFor(modelItem => course.Instructor) - @Html.DisplayFor(modelItem => course.Semester) 
                        @Html.DisplayFor(modelItem => course.SchoolYear) |  
                        @Html.DisplayFor(modelItem => course.Day)  
                        @Html.DisplayFor(modelItem => course.StartHour):@Html.DisplayFor(modelItem => course.StartMinute) @Html.DisplayFor(modelItem => course.AMPM) - 
                        @Html.DisplayFor(modelItem => course.EndHour):@Html.DisplayFor(modelItem => course.EndMinute) @Html.DisplayFor(modelItem => course.AMPM) | 
                        @Html.DisplayFor(modelItem => course.Members) Members
                        <div style="margin-top: 5px;">
                            
                        </div>
                    </div>
                }
            </div>

        }
    </div>
    
</div>


@section scripts{
    <script>

        $(document).on('ready', function () {
            $("#accordion").accordion({
                active: false,
                collapsible: true
            });
        });

        function AddClass() {
            courseModal.style.display = "block";
        }

        function AddMajor() {
            majorModal.style.display = "block";
        }

        function closeModal() {
            courseModal.style.display = "none";
            majorModal.style.display = "none";
        }

        function JoinGroup(name) {
            alert(name);
        }

        function SubmitMajor() {
            var majorName = $('#NewMajor').val();
            
        }
    </script>
}

